@use '@/variables' as *;

.inputWrapper {
  @include input-box;
  display: flex;
  border-radius: 10px;

  input {
    @include input-box;
    border-radius: 7px;
    padding: 10px 15px;
    border: none;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  svg {
    @include text-accent;
    height: 100%;
    width: 40px;
    padding: 5px 8px 5px 11px;
  }

  &:focus-within {
    @include input-accent-box;

    input {
      @include text-accent;
    }

    svg {
      @include input-icon-color;
    }
  }
}
