@import '@/variables';

.inputWrapper {
  display: flex;
  border-radius: 10px;
  border: 3px solid #d3d3d3;
  background-color: #f0f0f2;

  input {
    background-color: #f0f0f2;
    color: #444c5f;
    border-radius: 7px;
    padding: 10px 15px;
    border: none;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  svg {
    height: 100%;
    width: 40px;
    padding: 5px 8px 5px 11px;
    color: $buck-light-green;
  }

  &:focus-within {
    background-color: $buck-light-green;
    border-color: $buck-light-green;

    input {
      color: $buck-light-green;
    }

    svg {
      color: #f0f0f2;
    }
  }
}
