@use '@/variables' as *;

.inputWrapper {
  @include area-box;
  display: flex;
  border-radius: 10px;
  flex-flow: column nowrap;

  textarea {
    @include area-input-box;
    border-radius: 7px;
    padding: 10px 15px;
    border: none;
    width: 100%;
    height: 10em;
    max-height: 80%;

    &:focus {
      outline: none;
    }
  }

  svg {
    @include text-accent;
    height: 100%;
    width: 40px;
    padding: 5px 8px 5px 11px;
  }

  &:focus-within {
    @include input-accent-box;

    textarea {
      @include text-accent;
    }

    svg {
      @include input-icon-color;
    }
  }

  .inline_validate {
    @include text-dark;
    margin: 0.5em;
    width: 100%;
    cursor: pointer;
    text-align: start;
  }
}
