@import '@/variables';

.inputWrapper {
  display: flex;
  border-radius: 10px;
  border: 3px solid #d3d3d3;
  background-color: #d3d3d3;
  flex-flow: column nowrap;

  textarea {
    background-color: #f0f0f2;
    color: #444c5f;
    border-radius: 7px;
    padding: 10px 15px;
    border: none;
    width: 100%;
    height: 10em;
    max-height: 80%;

    &:focus {
      outline: none;
    }
  }

  svg {
    height: 100%;
    width: 40px;
    padding: 5px 8px 5px 11px;
    color: $buck-light-green;
  }

  &:focus-within {
    background-color: $buck-light-green;
    border-color: $buck-light-green;

    textarea {
      color: $buck-light-green;
    }

    svg {
      color: #f0f0f2;
    }
  }

  .inline_validate {
    margin: 0.5em;
    width: 100%;
    cursor: pointer;
    text-align: start;
  }
}
