@import '@/variables';

.tooltipContainer {
  position: relative;
  display: inline-block;
  cursor: help;

  & > .tooltip {
    display: none;
    background-color: $buck-light-green;
    position: absolute;
    left: calc(100% + 1.5ch);
    top: calc(50% + 0.1em);
    transform: translateY(-50%);
    border-radius: 4px;
    padding: 1px 4px;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    text-align: initial;
    color: $background-dark;
    text-wrap: nowrap;

    &::before {
      content: '';
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-right: 7px solid $buck-light-green;
      border-bottom: 5px solid transparent;
      left: -6px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &:hover > .tooltip {
    display: inline-block;
  }
}
