@use '@/variables' as *;

.authForm {
  @include box-light;
  justify-content: center;
  padding: 50px 50px 30px;
  border-radius: 20px;
  text-align: center;

  > * {
    display: block;
  }

  .logo {
    @include logo-filter;
    height: 100px;
    margin: auto;
  }

  :has(.title) {
    margin: 20px auto;
  }

  .title {
    font-size: 2rem;
    @include text-dark;

    .bluePart {
      @include blue-part;
    }
  }

  .error {
    @include box-error;
    display: block;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid currentColor;
    margin-bottom: 20px;
  }

  > span {
    text-align: center;
    margin: 1rem 0;
  }

  .inputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .link {
    margin: 10px auto 0;
  }

  .button {
    width: 100%;
    margin: 30px 0 10px 0;
    cursor: pointer;
  }

  svg {
    stroke: currentColor;
    height: 1em;
    width: 1em;
    margin-right: 1ch;
  }
}
