@use '@/variables.scss' as *;

.title {
  font-size: 2.2rem;
  @include text-dark;

  .bluePart {
    @include text-blue;
  }
}

:has(.processed)::before {
  white-space: pre;
  content: '💸\ATon remboursement\A a déjà été traité';
  position: absolute;
  @include text-blue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-15deg);
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8em;
}

.processed {
  opacity: 0.2;
  cursor: not-allowed;
  pointer-events: none;
  user-select: none;
}

.balance {
  @include text-dark;
  margin: 20px 0;
  font-size: 1.2em;

  .value {
    display: inline-block;
    margin-left: 1ch;
    @include text-blue;
  }

  .ibanRegistered {
    font-size: 0.8em;
    text-transform: uppercase;

    &.true {
      @include text-valid;
    }
    &.false {
      @include text-error;
    }
  }
}

.info {
  display: block;
  @include box-light;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid currentColor;
  margin-bottom: 20px;
}

.warn {
  display: block;
  @include box-error;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid currentColor;
  margin-bottom: 20px;
}

.accepted {
  display: block;
  @include box-valid;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid currentColor;
  margin-bottom: 20px;
}

.disclaimer {
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 0.8em;
  @include text-blue;
}
