$buck-light-green: #52dd6c;
$buck-light-blue: #91dbe5;
$buck-dark-blue: #07478a;
$background-light: #e3e3e4;
$background-dark: #434549;

$error-background: #e2bebe;
$error-text: #a80808;
$valid-text: #0a7d0a;
$valid-background: #9fc09f;

// FONTS :
$lexend: var(--font-lexend);
