@import '@/variables.scss';

.loginPage {
  width: 100%;
  height: 100%;
  background-color: $background-dark;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomNotes {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  color: $background-light;

  & > :not(:first-child) {
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      left: -15px;
      top: 50%;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $background-light;
      transform: translate(50%, -50%);
    }
  }
}
